.topbar {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(71, 188, 255);
}

a {
  margin-left: 90px;
  font-size: 20px;
  font-weight: bold;
}

.t-head {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .topbar {
    padding: 20px;
  }
  a {
    font-size: 7px;
    margin-left: 7px;
  }

  .t-head {
    font-size: 10px;
  }
}

.t-box {
  display: flex;
  align-items: center;
}

/* //////////////////////////////// */

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
}

/* ///////////////////////////// */
.midsection {
  max-width: auto;
  height: auto;
  align-items: center;
}

.kflogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  margin-top: 50px;
  border-radius: 500px;
}

.mid-text {
  font-size: 20px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  font-weight: 600;
  text-align: justify;
}

.ju-button {
  background-color: rgb(34, 197, 94);
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
}

.ju {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-goals {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  border: 3px solid black;
  padding: 50px 50px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 30px;
}

.g-head {
  font-size: 20px;
  font-weight: bold;
}
.kflogo-g {
  max-width: 409px;
  border-radius: 10px;
  margin-right: 100px;
}

.g-text {
  text-align: left;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .mid-text {
    font-size: 13px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    text-align: justify;
  }
  .mid-goals {
    margin-top: 50px;
    font-size: 13px;
    padding: 30px 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
  }
  .kflogo-g {
    max-width: 130px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .g-text {
    text-align: left;
    font-size: 10px;
  }
  .g-head {
    font-size: 13px;
    font-weight: bold;
  }
}

#haha {
  margin: 5%;
}

.logo {
  width: 88%;
  margin: auto;
  display: block;
  margin-top: 50px;
  border-radius: 25px;
}

.a-reg {
  color: rgb(71, 188, 255);
  margin: auto;
  text-decoration: underline;
}
/* //////////////////////////////// */
.footer {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;

  text-align: center;
  background-color: rgb(71, 188, 255);

  color: white;
}
/* //////////////////////////// */
button {
  padding: 10px 20px;
  background-color: rgb(71, 188, 255);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;

  font-weight: bold;
}

button:hover {
  background-color: #56728f;
}

span {
  align-items: center;
  font-size: 3 0px;
}

form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 300px;
    margin: 0 auto 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 8px;
  }
}
/* //////////////////////////////// */
.about {
  height: auto;
  width: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid black;
  border-radius: 30px;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  padding: 50px 50px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 30px;
}

.a-text {
  text-align: center;
  margin-left: 50px;
  font-size: 40px;
}

.a-img {
  max-width: 500px;
}

.a-button {
  background-color: rgb(34, 197, 94);
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .a-img {
    max-width: 144px;
  }
  .about {
    padding: 30px 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .a-text {
    margin-left: 20px;
    font-size: 15px;
  }
  .a-button {
    background-color: rgb(34, 197, 94);
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    margin-top: 10px;
  }
  .ju-button {
    background-color: rgb(34, 197, 94);
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
  }
}
.Message {
  height: 70px;
}
/* Thanks Page */
/* body {
  background-color: #ffffff;
  text-align: center;
}

#thankyou {
  background-color: white;
  border-radius: 10px;
  height: 190px;
  width: 300px;
  border: 6px solid rgb(71, 188, 255);
  box-shadow: 7px 7px 4px #4999b6;
  margin: 250px auto 50px;
  text-align: center;
  -webkit-animation: flash 1.2s ease 0s infinite;
  animation: flash 1.2s ease 0s infinite;
}

#h2thankyou {
  color: #4999b6;
  padding: 32px;
  font-size: 44px;
  font-family: "Open Sans", "sans-serif";
  -webkit-animation: flashtwo 1.2s linear 0s infinite;
  animation: flashtwo 1.2s linear 0s infinite;
}
a {
  text-decoration: none;
  color: #4999b6;
}

#linkback:hover {
  background-color: rgb(71, 188, 255);
}

a:hover {
  color: white;
}

@keyframes flash {
  0% {
    background-color: white;
  }
  49% {
    background-color: white;
  }
  50% {
    background-color: rgb(71, 188, 255);
  }
  100% {
    background-color: rgb(71, 188, 255);
  }
}

@keyframes flashtwo {
  0% {
    color: rgb(71, 188, 255);
  }
  49% {
    color: rgb(71, 188, 255);
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
} */
